<div class="wrapper">

    {{> header }}


    <body background="/img/background.jpg">

        <div class="container">
            <h1 class="titleR">{{title}}</h1>
        </div>

        <ol>
            {{#each circuits}}
            <li class="listTitleR"> {{name}}

                <div class="row marketing">
                    <div class="col-lg-4">
                        <div class="detailR">Most Wins Pilot: {{namePilot}} </div>
                        <div class="detailR">Most Wins Team: {{nameTeam}}</div>
                    </div>

                    <div class="col-lg-3">
                        <div class="detailR">Times Held: {{timesHeld}}</div>
                        <div class="detailR">First Held: {{firstHeld}}</div>
                    </div>
                        
                    <div class="col-lg-4">
                        <div class="detailR">Circuit Length: {{circuitLength}}</div>
                        <div class="detailR">Laps: {{laps}}</div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </body>

    <div class="space">
        {{> footer}}
    </div>

</div>