<div class="wrapper">

{{> header }}


<body background="/img/background.jpg">

    <div class="container">
        <h1 class="titleR">{{title}}</h1>
    </div>

    <button class="btn" onclick="back()"> Back</button>

    <div>
        {{#if result1}}
        {{#each result1}}
        <li class="listTitleR">{{name}}
            <div class="detailR">Number of Races: {{NrCurse}}</div>
        </li>
        {{/each}}
        {{/if}}

        {{#if result2}}
        {{#each result2}}
        <li class="listTitleR">{{name}}
            <div class="detailR">Number of Races: {{NrCurse}}</div>
        </li>
        {{/each}}
        {{/if}}

        {{#if result3}}
        {{#each result3}}
        <li class="listTitleR">{{name}}
            <div class="detailR">Media Pozitiilor: {{medie}}</div>
        </li>
        {{/each}}
        {{/if}}

        {{#if result4}}
        {{#each result4}}
        <li class="listTitleR">{{name}}
            <div class="detailR">Team Code: {{team_ID}}</div>
        </li>
        {{/each}}
        {{/if}}
    </div>

    <script>
        function back() {
            location.href = "./";
        };
    </script>

</body>

<div class="space">
    {{> footer}}
</div>

</div>
