<div class="wrapper">

    {{> header }}

    <body background="/img/background.jpg">

        <div class="container">
            <h1 class="titleR">{{title}}</h1>
        </div>

        <div class="container">
            <h1 class="listTitle">{{location}}</h1>
        </div>

        <div class="container">
            <h2 class="listTitleR">{{date}}</h2>
        </div>

        <ol>
            <div class="red">
                <div class="row marketing">
                    <div class="col-lg-3">
                        <div class="detailR">Team Name </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="detailR">Circuit Name </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="detailR">Time </div>
                    </div>
                </div>
            </div>
            {{#each results}}
            <li class="listItemR">
                <div class="row marketing">
                    <div class="col-lg-3">
                        <div class="detailR">{{nameTeam}} </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="detailR">{{nameCircuit}} </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="detailR">{{time}} </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>

        <button id="back" onClick="back()" type="button" class="btnBack">Back</button>

        <script>
            function back() {
                location.href = "/results";
            }
        </script>

    </body>

    <div class="space">
        {{> footer}}
    </div>

</div>